.form {
    margin: 10px auto 25px;
}

.form input {
    padding: 5px 10px;
    border: none;
    outline: none;
    transition: border-color .4s ease;
    border: 1px solid transparent;
    margin-bottom: 10px;
}

.form input:focus {
    border: 1px solid gold;
}

.form button {
    display: block;
    padding: 6px 40px;
    border: 1px solid gray;
    border-radius: 5px;
    transition: all .3 ease;
    background-color: #fafafa;
    cursor: pointer;
}