h1 {
    background-color: rgba(0, 0, 255, 0.629);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.item {
    border: 1px solid gray;
    margin-bottom: 30px;
}

.image {
    background-size: cover;
    width: 100%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
}

.info {
    padding: 10px;
}

.info h2 {
    margin-bottom: 5px;
}

.info p {
    margin-bottom: 10px;
}

.info button {
    padding: 10px;
    background: none;
    border: 1px solid black;
    border-radius: 10px;
    transition: background 0.25s ease-in-out;
}

.info button:hover {
    background: rgba(16, 212, 16, 0.65);
}